<h1>ゴミ出し編集</h1>

<div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <%= form_with model: @garbage, url: "/garbages/#{@garbage.id}", method: :patch, local: true do |form| %>
      <li class="list-group-item">種類　<%= form.text_field :title %></li>
      <li class="list-group-item">収集日 <%= form.text_field :week %></li>
      <li class="list-group-item">時間 <%= form.time_field :alarm_time %></li>
      <li class="list-group-item"><%= form.submit '更新する' %></li>
    <% end %>
  </ul>
</div>
