<h1>ゴミ出し編集</h1>

<%= form_with url: "/garbages/#{@garbage.id}", method: :patch, local: true do |form| %>
  <div>
  <label>種類</label>
  <%= form.text_field :title, value: @garbage.title %>
  </div>

  <div>
  <label>収集日</label>
  <%= form.text_field :week, value: @garbage.week %>
  </div>

  <div>
  <label>時間</label>
  <%= form.text_field :alarm_time, value: @garbage.alarm_time %>
  </div>

  <%= form.submit '更新する' %>
<% end %>